@model TripleProject.Areas.Admin.Models.Page

@{
    ViewData["Title"] = @Model.Title;
}

<div class="pb-2 mt-4 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<div>
    @Html.Raw(@Model.Text)
</div>
