@model IEnumerable<TripleProject.Areas.Admin.Models.Category>
@using TripleProject.ViewComponents

<div class="mb-4">
    @{
        string menuTree = "";
        TripleProject.ViewComponents.CategoriesViewComponent.GetCategoryList(Model, ref menuTree);
    }

    @Html.Raw(menuTree)
</div>