
@{
    ViewData["Title"] = "LeftsideColumn";
}

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Index">
                    <i class="material-icons mr-2 feather">dashboard</i>Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Pages" asp-action="Index">
                    <i class="material-icons mr-2 feather">pages</i>Pages <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="FileUploads" asp-action="Index">
                    <i class="material-icons mr-2 feather">collections</i>Files
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Menus" asp-action="Index">
                    <i class="material-icons mr-2 feather">menu</i>Menu
                </a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" asp-controller="Users" asp-action="Index">
                    <i class="material-icons mr-2 feather">people</i>Users
                </a>
            </li>*@
            @*<li class="nav-item">
                <a class="nav-link" asp-controller="Roles" asp-action="Index">
                    <i class="material-icons mr-2 feather">person_pin</i>Roles
                </a>
            </li>*@
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons mr-2 feather">build</i>Options
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Advetisements</span>
        </h6>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Advertisements" asp-action="Index">
                    <i class="material-icons mr-2 feather">apps</i>Ads
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Categories" asp-action="Index">
                    <i class="material-icons mr-2 feather">sort</i>Categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="AdvertisementAttributes" asp-action="Index">
                    <i class="material-icons mr-2 feather">local_offer</i>Attributes
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Shop</span>
        </h6>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Products" asp-action="Index">
                    <i class="material-icons mr-2 feather">shopping_cart</i>Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Catalogs" asp-action="Index">
                    <i class="material-icons mr-2 feather">sort</i>Catalogs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="ProductAttributes" asp-action="Index">
                    <i class="material-icons mr-2 feather">local_offer</i>Attributes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons mr-2 feather">storage</i>Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons mr-2 feather">people</i>Customers
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Messenger</span>
        </h6>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons mr-2 feather">forum</i>Messages
                </a>
            </li>
        </ul>
    </div>
</nav>

