@model IEnumerable<TripleProject.Areas.Admin.Models.Catalog>
@using TripleProject.ViewComponents

<div class="@*navbar-collapse collapse*@" id="navbarNav">
    @{
        string menuTree = "";
        TripleProject.ViewComponents.CatalogsViewComponent.GetCatalogList(Model, ref menuTree);
    }

    @Html.Raw(menuTree)
</div>