@model IEnumerable<TripleProject.Areas.Admin.Models.Catalog>
@using TripleProject.ViewComponents

<div class="" id="">
    @{
        string menuTree = "";
        CatalogsViewComponent.GetCatalogList(Model, ref menuTree);
    }

    @Html.Raw(menuTree)
</div>