@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{
    <nav id="cookieConsent" class="fixed-bottom" role="alert">
        <div class="container">
            <div class="alert alert-info w-100">
                <span class="navbar-brand"><i class="material-icons">priority_high</i></span>
                <span class="mr-3">@SharedLocalizer["This website uses cookies. By continuing to browse this site, you agree to these terms of use."]</span>
                <button type="button" class="btn btn-outline-success" data-cookie-string="@cookieString">@SharedLocalizer["Accept"]</button>
            </div>
        </div>
    </nav>
}