@model TripleProject.Areas.Admin.ViewModels.FileUploadViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer


@{
    ViewData["Title"] = SharedLocalizer["Create"];
}

<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<h4>@SharedLocalizer["File"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="custom-file mb-3">
                <label asp-for="ItemUpload" class="custom-file-label"></label>
                <input asp-for="ItemUpload" class="custom-file-input" />
                <span asp-validation-for="ItemUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Back to List"]</a>
</div>

