@model IEnumerable<TripleProject.Areas.Admin.Models.FileUpload>

@foreach (var image in Model)
{
    <div class="carousel-item">
        <div class="square-image" style="background-image: url(@image.Path)"></div>
    </div>
}
