/*
	Import
 */
/*@import 'owl.carousel';
@import 'fonts';
@import 'worpress';*/
/*
	Footer fixed style
 */
html, body {
  min-height: 100vh; }

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

a {
  color: #353535; }
  a:hover, a:active, a:focus {
    color: #fb0102; }

/*
	Header color
 */
.bg-red {
  background-color: #fb0102; }

.btn-primary {
  background-color: #fb0102;
  border-color: #fb0102; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #24b122;
    border-color: #24b122; }

/*
	Main menu
 */
#navbarNav {
  text-transform: uppercase; }
  #navbarNav > ul > li:first-of-type > a {
    border-left: none; }
  #navbarNav > ul > li > a {
    color: #ffffff;
    border-left: none; }
    #navbarNav > ul > li > a.nav-link {
      padding: 0.69rem; }
  #navbarNav .nav-item.active {
    background-color: rgba(0, 0, 0, 0.1); }
  #navbarNav .nav-item:hover > .sub-menu {
    margin: 0;
    display: block; }
  #navbarNav .tell-new-items {
    font-size: 0.6rem;
    top: -1em;
    padding: 3px;
    border-radius: 3px;
    margin-left: 5px; }

@media (min-width: 992px) {
  #navbarNav > ul > li > a {
    border-left: 1px solid rgba(255, 255, 255, 0.3); } }

/*
	Second menu
 */
#navbarNav-2 {
  font-size: 0.75em; }
  #navbarNav-2 > ul > li > a, #navbarNav-2 > ul > li > button {
    color: rgba(255, 255, 255, 0.5);
    border-left: none; }
  #navbarNav-2 .sub-menu .nav-link {
    font-size: 0.75em;
    color: #353535;
    cursor: pointer; }
    #navbarNav-2 .sub-menu .nav-link:hover {
      color: #fb0102; }
  #navbarNav-2 .nav-item:hover > .sub-menu {
    margin: 0;
    display: block; }

.navbar-red .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.tell-currency-info {
  font-size: 0.75em; }

@media (max-width: 992px) {
  .fixed-top {
    position: relative; } }

/*
	Single article
 */
.single-article img {
  max-width: 100%;
  height: auto; }

/*
	post-format-icon
 */
.post-format-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2em; }

/*
	Dropdown search
 */
.dropdown-search form {
  width: 254px; }

/*
	Logo
 */
.navbar-brand img {
  max-width: 100%;
  height: auto; }

/*
	Pagination style
 */
.nav-links {
  display: flex;
  justify-content: center;
  width: 100%; }
  .nav-links .page-numbers:first-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem; }
  .nav-links .page-numbers:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem; }
  .nav-links div:first-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem; }
  .nav-links div:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem; }

/*
	Display flex
 */
.display-flex {
  display: flex; }
  .display-flex article {
    width: 100%; }

/*
	Card imgage overlay
 */
.card-img-overlay-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.5); }

/*
	Polls block
 */
.tell-polls-form-block {
  position: fixed;
  z-index: 1040;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 15px 15px 15px; }

@media (min-width: 600px) {
  .tell-polls-form-block {
    width: 400px;
    left: auto; } }

/*
	Footer
 */
footer {
  padding: 30px 0 0 0; }
  footer .sidebar .widget {
    padding: 0 15px;
    margin-bottom: 8px; }

@media (min-width: 600px) {
  .has-small-gutter > [class*="wp-block-coblocks-"]:not(:last-child) {
    margin-right: 15px; }
  .has-small-gutter > [class*="wp-block-coblocks-"]:not(:first-child) {
    margin-left: 15px; } }

/*
    Square image
*/
.square-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f5f5; }
  .square-image:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .square-image.part-50:after {
    padding-bottom: 50%; }
  .square-image.part-75:after, .square-image.half:after {
    padding-bottom: 75%; }
  .square-image.thumbnail {
    width: 200px; }
  .square-image.thumbnail-sm {
    width: 50px; }
