$white: #ffffff;
$white-half: rgba(255,255,255,0.5);
$red: #fb0102;
$red-light: #c82333;
$green: #24b122;
$grey-dark: #353535;
$grey-light: #dee2e6;
/*
	Import
 */
/*@import 'owl.carousel';
@import 'fonts';
@import 'worpress';*/
/*
	Footer fixed style
 */
html, body {
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    color: $grey-dark;

    &:hover, &:active, &:focus {
        color: $red;
    }
}
/*
	Colors
 */
.bg-red {
    background-color: $red;
}

.btn-primary {
    background-color: $red;
    border-color: $red;

    &:hover, &:active, &:focus {
        background-color: $green;
        border-color: $green;
    }
}

.btn-outline-primary {
    color: $red;
    border-color: $red;

    &:hover, &:active, &:focus {
        background-color: $green;
        border-color: $green;
    }
}

.text-red {
    color: $red;
}
/*
	Main menu
 */
#navbarNav {
    text-transform: uppercase;

    > ul > li {
        > a {
            color: $white;

            &.nav-link {
                padding: 0.69rem;
            }
        }
    }

    .nav-item {
        &.active {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:hover {
            > .sub-menu {
                margin: 0;
                display: block;
            }
        }
    }

    .tell-new-items {
        font-size: 0.6rem;
        top: -1em;
        padding: 3px;
        border-radius: 3px;
        margin-left: 5px;
    }
}

@media (min-width: 992px) {
    #navbarNav {
        > ul > li {
            > a {
                border-right: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
}
/*
	Second menu
 */
#navbarNav-2 {
    font-size: 0.75em;

    > ul > li {
        > a, > button {
            color: $white-half;
            border-left: none;
        }
    }

    .sub-menu {
        .nav-link {
            font-size: 0.75em;
            color: $grey-dark;
            cursor: pointer;

            &:hover {
                color: $red;
            }
        }
    }

    .nav-item:hover {
        > .sub-menu {
            margin: 0;
            display: block;
        }
    }
}

/*
    Sidebar nav
*/
.sidebar-nav {
    /*border-right: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    border-radius: 0.25rem;*/
    .nav-item {
        position: relative;

        i {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 1rem;
        }

        .sub-menu {
            position: absolute;
            top: -1px;
            left: 100%;
            z-index: 10;
            list-style: none;
            padding-left: 0;
            white-space: nowrap;
            border-top: 1px solid $grey-light;
            border-right: 1px solid $grey-light;
            border-radius: 0 0.25rem 0.25rem 0;
            display: none;

            .nav-item {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &:hover {
            > .sub-menu {
                display: block;
            }
        }
    }
}

.navbar-red {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}

.tell-currency-info {
    font-size: 0.75em;
}

/*
	Single article
 */
.single-article {
    img {
        max-width: 100%;
        height: auto;
    }
}
/*
	post-format-icon
 */
.post-format-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2em;
}
/*
	Dropdown search
 */
.dropdown-search {
    form {
        width: 254px;
    }
}
/*
	Logo
 */
.navbar-brand img {
    max-width: 100%;
    height: auto;
}
/*
	Pagination style
 */
.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;

    .page-numbers:first-child {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }

    .page-numbers:last-child {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    div:first-child .page-link {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }

    div:last-child .page-link {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
}
/*
	Display flex
 */
.display-flex {
    display: flex;

    article {
        width: 100%;
    }
}
/*
	Card imgage overlay
 */
.card-img-overlay-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-color: $white-half;
}
/*
	Polls block
 */
.tell-polls-form-block {
    position: fixed;
    z-index: 1040;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 15px 15px 15px;
}

@media (min-width: 600px) {
    .tell-polls-form-block {
        width: 400px;
        left: auto;
    }
}
/*
	Footer
 */
footer {
    padding: 30px 0 0 0;

    .sidebar {
        .widget {
            padding: 0 15px;
            margin-bottom: 8px;
        }
    }
}

@media (min-width: 600px) {
    .has-small-gutter > [class*="wp-block-coblocks-"]:not(:last-child) {
        margin-right: 15px;
    }

    .has-small-gutter > [class*="wp-block-coblocks-"]:not(:first-child) {
        margin-left: 15px;
    }
}

/*
    Square image
*/
.square-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $grey-light;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    &.part-50:after {
        padding-bottom: 50%;
    }

    &.part-75:after, &.half:after {
        padding-bottom: 75%;
    }

    &.thumbnail {
        width: 200px;
    }

    &.thumbnail-sm {
        width: 50px;
    }
}

/*
    Owl slider
*/
.owl-carousel {
    .owl-dots {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-top: 15px;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;

        .owl-dot {
            box-sizing: content-box;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: 30px;
            height: 3px;
            margin-right: 3px;
            margin-left: 3px;
            text-indent: -999px;
            cursor: pointer;
            background-color: $grey-dark;
            background-clip: padding-box;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            opacity: .5;
            transition: opacity 0.6s ease;

            &:focus {
                outline: none;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}

.owl-thumbnails-slider {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15px;

    .owl-thumbnails-inner {
        position: relative;
        transition: all 0.5s ease;

        a {
            display: block;
            margin-bottom: 15px;
        }
    }
}
/*
    Pagination
*/
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $grey-dark;
    border-color: $grey-dark;
}

.page-link, .page-numbers {
    color: $grey-dark;

    &:hover {
        color: $red;
    }
}

/*
    Vertical nav
*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $red;
}

/*
    Chckeckbox style
*/
.nav {
    .sub-item {
        list-style: none;
    }
}

/*
    Dropdown menu
*/
.dropdown {
    &:hover, &:active, &:focus {
        .dropdown-menu {
            display: block;
            margin: 0;
        }
    }
}
.dropdown-item.active, .dropdown-item:active {
    background-color: $red;
}