@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="pb-2 mt-4 mb-3 border-bottom">
    <h1 class="h2">@SharedLocalizer["Manage your account"]</h1>
</div>

<div>
    <h4>@SharedLocalizer["Change your account settings"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
