@page
@model ForgotPasswordConfirmation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Forgot password confirmation"];
}

<h2>@ViewData["Title"]</h2>
<p>
    @SharedLocalizer["Please check your email to reset your password"].
</p>

