@page
@model LogoutModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Log out"];
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@SharedLocalizer["You have successfully logged out of the application"].</p>
</header>