@model IEnumerable<TripleProject.Areas.Admin.Models.Product>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Products"];
}
<div class="row pt-4">
    <div class="col-md-4">
        <h1 class="h3">@SharedLocalizer["Catalog"]</h1>
        @await Component.InvokeAsync("Catalogs")

        @await Component.InvokeAsync("Filter")
    </div>
    <div class="col-md-8">
        @await Component.InvokeAsync("ProductsCarousel")
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 mb-3">
                    @await Component.InvokeAsync("Product", item)
                </div>
            }
        </div>
        @{
            int count = (int)ViewData["count"];
            int page = (int)ViewData["page"];
            decimal itemsPerPage = (int)ViewData["itemsPerPage"];
        }
        @await Component.InvokeAsync("Pagination", new { count, page, itemsPerPage })
    </div>
</div>
