@model IEnumerable<TripleProject.Areas.Admin.Models.FileUpload>

<div class="mb-3">
    <p class="mb-2">@ViewData["Image"]</p>

    <form method="post" enctype="multipart/form-data" class="ajax-file-upload bg-light text-dark mb-3 p-3 position-relative">
        <label for="file"><i class="material-icons">insert_photo</i> @ViewData["ClickToUpload"]</label>

        <input type="file" name="file" id="file" class="position-absolute fixed-top w-100 h-100 fade">

        <div class="d-flex justify-content-center">
            <div class="spinner-border d-none" role="status">
                <span class="sr-only">@ViewData["Loading"]</span>
            </div>
        </div>

        <div class="response d-flex flex-wrap">
            @foreach (var image in Model)
            {
                <div class="square-image thumbnail img-thumbnail mr-2 mb-2" style="background-image: url(@image.Path)"></div>
            }
        </div>
    </form>
</div>