@model IEnumerable<TripleProject.Areas.Admin.Models.Advertisement>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Advertisements"];
    int count = (int)ViewData["count"];
    int page = (int)ViewData["page"];
    decimal itemsPerPage = (int)ViewData["itemsPerPage"];
    IList<int> attributes = (IList<int>)ViewData["attributes"];
    int id = (int)ViewData["id"];
    string type = "Advertisement";
    int minPrice = (int)ViewData["minPrice"];
    int maxPrice = (int)ViewData["maxPrice"];
}
<div class="row pt-4">
    <div class="col-md-4">
        <h1 class="h3">@SharedLocalizer["Categories"]</h1>
        @await Component.InvokeAsync("Categories")

        @await Component.InvokeAsync("Filter", new{
           type = type,
           minPrice = minPrice,
           maxPrice = maxPrice,
           id = id
       })
    </div>
    <div class="col-md-8">
        @await Component.InvokeAsync("AdvertisementsCarousel")
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 mb-3">
                    @await Component.InvokeAsync("Advertisement", item)
                </div>
            }
        </div>

        @await Component.InvokeAsync("Pagination", new { count, page, itemsPerPage, type, minPrice, maxPrice, attributes })
    </div>
</div>
