@model IEnumerable<TripleProject.Areas.Admin.Models.Advertisement>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h2 class="h3 mt-5 mb-4">@SharedLocalizer["Recent advertisements"]</h2>
<div class="owl-carousel mb-4" data-slides-per-line="4">
    @foreach (var item in Model)
    {
        @await Component.InvokeAsync("Advertisement", item)
    }
</div>
